.App {
  text-align: center;

}

.tableContainer{
}

table {
  height: 50%;
  width: 50%;
  text-align: center;
  border: 1px solid black;
  padding: 20px;
  background-color: #8fdbb8;
  border-collapse: collapse;
}

td ,th {
  border: 1px solid black;
}

.btnContainer {
  display: flex;
  justify-content: space-around;
}

.tableContainer {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}